<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me </title>
</head>
<body>
    <h1>👩‍💻About</h1>
    <p>
        I'm a self-taught developer with a creative edge. I love building beautiful,
        functional web experiences using JavaScript, React, and Node.js.<br> With a background in art, music, and design,
        I bring a unique perspective to coding — blending logic with intuition.Right now, <br>
        I’m exploring creative coding, UI design, and full-stack development.
    </p>

</body>
</html>
